<div id="fondo" style="background-color: #000f9f" alt="pie de pagina">
  <div class="row">
    <div class="col-4 text-center">
      <div id="logo">
        <a href="https://www.mendoza.gov.ar/">
          <img
            src="LOGODGE2024GOBpie.png"
            alt="logo del Gobierno"
            class="img-fluid"
        /></a>
      </div>
    </div>
    <div class="col-4 text-center">
      <a href="https://www.mendoza.gov.ar/148/">
        <img src="148.png" alt="148" class="img-fluid"
      /></a>
      <span
        ><h5>
          +54 261 385 2768 -
          <a href="https://www.mendoza.edu.ar/direcciones-y-telefonos/">
            Teléfonos de interés
          </a>
        </h5></span
      >
    </div>
  </div>
</div>

<div id="pie" style="background-color: #544a4a">
  <div class="row">
    <div class="col text-center">
      <span>
        <h6><strong> MENDOZA GOBIERNO</strong></h6></span
      >
    </div>
    <div class="col text-center">
      <div class="position-absolute top-5 end-0 translate-middle"></div>
    </div>
  </div>
</div>
