<div alt="opciones de navegacion " class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a href="post"
        ><button
          alt="boton para acceder a los materiales"
          class="nav-link btn"
          id="nav-modalidad-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-modalidad"
          type="button"
          role="tab"
          aria-controls="nav-modalidad"
          aria-selected="true"
        >
          Materiales
        </button></a
      >
      <a href="informacion">
        <button
          alt="boton para acceder a la informacion del sitio"
          class="nav-link active btn"
          id="nav-modalidad-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-modalidad"
          type="button"
          role="tab"
          aria-controls="nav-modalidad"
          aria-selected="true"
        >
          Información
        </button></a
      >
    </div>
  </nav>
</div>
