.nav{
    border: none;
}
.btn {
    padding: 1em 1.5em;
    color: white;
    background-color: #000f9f;
    font-size:large;
    font-weight: 700;
    margin: 2% ;
    margin-left: 5%;
    border: solid  #000f9f;
 }
 
.btn:focus {
    background-color: white;
    color: #000f9f;
    border-color:  #000f9f;
} 

