<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button
        class="nav-link active btn"
        id="nav-acerca-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-acerca"
        type="button"
        role="tab"
        aria-controls="nav-acerca"
        aria-selected="true"
      >
        Acerca de Buenas Prácticas
      </button>
      <button
        class="nav-link btn"
        id="nav-comprtimos-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-compartimos"
        type="button"
        role="tab"
        aria-controls="nav-compartimos"
        aria-selected="false"
      >
        Compartimos
      </button>
      <button
        class="nav-link btn"
        id="nav-valoramos-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-valoramos"
        type="button"
        role="tab"
        aria-controls="nav-valoramos"
        aria-selected="false"
      >
        Valoramos
      </button>
      <button
        class="nav-link btn"
        id="nav-preguntas-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-preguntas"
        type="button"
        role="tab"
        aria-controls="nav-preguntas"
        aria-selected="false"
      >
        Preguntas Frecuentes
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-acerca"
      role="tabpanel"
      aria-labelledby="nav-acerca-tab"
    >
      <p class="texto">
        <strong>¿Quiénes somos?</strong>
        El Portal de Buenas Prácticas es un espacio virtual de intercambio
        horizontal, entre colegas, de buenas prácticas de enseñanza, surgidas en
        el ámbito escolar. Son experiencias inspiradoras de ABP o clases. Los
        docentes de todos los niveles y modalidades del sistema educativo podrán
        compartir a través de este portal sus clases, proyectos, estrategias y
        sugerencias, favoreciendo el crecimiento de una auténtica comunidad
        profesional de aprendizaje. Docentes, miembros de programas de la DGE,
        estarán a cargo del proceso de revisión, análisis, curaduría de las
        prácticas propuestas que integrarán el presente portal.
      </p>
    </div>
    <div
      class="tab-pane fade"
      id="nav-compartimos"
      role="tabpanel"
      aria-labelledby="nav-compartimos-tab"
    >
      <p class="texto">
        <strong> </strong> El <strong> Portal Buenas Prácticas </strong> propone
        a la Comunidad Educativa compartir en un mismo espacio diferentes
        experiencias pedagógicas. En este sentido el docente podrá navegar,
        indagar, visualizar actividades de sus colegas, dejar sus comentarios y
        valorar las publicaciones de su interés. Además, este sitio permite dar
        visibilidad a las prácticas pedagógicas realizadas en las instituciones
        educativas. Por lo cual, los docentes podrán enviar para publicar sus
        propuestas enmarcadas en la lógica de una «Clase» o de un «ABP».
      </p>
    </div>
    <div
      class="tab-pane fade"
      id="nav-valoramos"
      role="tabpanel"
      aria-labelledby="nav-valoramos-tab"
    >
      <p class="texto">
        El portal Buenas Prácticas está diseñado para que cada docente pueda
        tener un rol activo dentro del sitio, Por eso, la propuesta también
        invita a realizar aportes, consultas, dejar comentarios para que
        enriquezca la práctica enviada por colegas o realice una consulta.
      </p>
    </div>
    <div
      class="tab-pane fade"
      id="nav-preguntas"
      role="tabpanel"
      aria-labelledby="nav-preguntas-tab"
    >
      <p class="texto">
        <strong>Para participar</strong>
        debe Completar el formulario agregando datos personales y de la
        actividad necesarios para poder publicar los trabajos. Luego las
        propuestas serán evaluadas y cuando estén aprobadas se podrán visualizar
        en el Portal.
      </p>
      <p class="texto">
        La autoría del material es del docente o equipo docente que ha realizado
        la práctica pedagógica. Al compartirlo, habilitan que pueda ser fuente
        de consulta e inspiración para proyectos y clases de colegas.
      </p>
    </div>
  </div>
</div>
